/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.letter-1{
  color: green;
}
.letter-2{
  color: yellow;
}
.letter-3{
  color: red;
}

.guessword{
  display: flex;
}