a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.letter{
  height: 4rem;
  width: 4rem;
  background: rgb(196, 196, 196);
  color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: .25rem;
  border-radius: .5rem;

}

.letter-1{
  background: #afd75e;
}
.letter-2{
  background: rgb(253, 229, 79);
}
.letter-3{
  background: #ff7272;
}

.active > .letter{
  background-color: #e0e0e0;
  border: .25rem solid #808080;
}

.game-container,
.highscore-container {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}

.guessword{
  display: flex;
}

.finishedGame{
  position: absolute;
  background: #0000005c;
  height: 100%;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  box-sizing: border-box;
  border-radius: .5rem;
}

.profile-score-field{
    margin-bottom: 2rem;
}

.highscore-ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.highscore-li {
    padding-bottom: 0.5em;
}

.userStats-p {
    margin: 0;
}

.highscore-ul,
.highscore-li,
.userStats-p {
    font-weight: bold;
    color: gray;
}
