:root {
  --main-font-color: hsl(199, 86%, 11%);
  --main-letter-bg: hsl(208, 100%, 97%);
  --body-bg: hsl(158, 34%, 87%);
  --nav-prim-color: hsl(357, 96%, 81%);
  --nav-secondary-color: hsl(182, 46%, 73%);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--body-bg);
  font-family: "Nunito", sans-serif;
}


.wrapper {
  background: #ffffff;
  border-radius: 2rem;
  border: 2px solid black;
  margin: 2rem auto;
  min-width: 24rem;
  max-width: fit-content;
  min-height: 30rem;
}

.game-container,
.highscore-container,
.home-container {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}
.game-container {
  position: relative;
  outline: 2px solid black;
  background-color: #000000;
  border-radius: 0.7rem;
  z-index: 1;
}

.letter {
  height: 2em;
  width: 2em;
  background: var(--main-letter-bg);
  box-shadow: inset 2px 4px #fffffd9f, inset -2px -4px 1px #3f475e83;
  border: 1px solid #042636;
  color: #042636;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 1000;
  border-radius: 0.75rem;
}

.letter-1 {
  background-color: #83d4cd;
}
.letter-2 {
  background-color: #ffddb0;
}
.letter-3 {
  background-color: #fd9fa3;
}

.l-small {
  font-size: 1rem;
  text-transform: uppercase;

  box-shadow: inset 2px 2px #fffffd7a, inset -2px -2px #b6b6b679;
}

.active > .letter {
  background-color: var(--main-letter-bg);
  box-shadow: inset -4px -4px #fffffd9f, inset 5px 5px 1px #3f475e83;
  scale: 0.91;

  border: 1px solid #000000;
}



.guessword {
  display: flex;
  justify-content: center;
}

.finishedGame {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fd9fa3;
  height: 80%;
  top: 5%;
  width: 80%;
  justify-content: center;
  align-items: center;
  color: #042636;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.822), inset 0 -2px #e07989,
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  left: 10%;

  & > p {
    font-size: 2rem;
  }
}

.profile-score-field {
  margin-bottom: 2rem;
}

.highscore-ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.highscore-li {
  padding-bottom: 0.5em;
}

.userStats-p {
  margin: 0;
}

.highscore-ul,
.highscore-li,
.userStats-p {
  color: gray;
}

.highscore-table{


  & tbody{
    & td{
      padding: 0 .5rem;
      border-right: 1px solid black;
    }
    & td:first-child{
      font-weight: 800;
      
    }
  }
}


.button-blue {
  padding: 10px 20px;
  background-color: #1e90ff; /* Sample blue color; adjust as needed */
  border: none;
  border-radius: 8px; /* Rounded corners */
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: pointer;
  transition: transform 0.2s; /* Smooth press effect */
}

.keyboard {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
}
.keyboard > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.newgame {
  color: #042636;
  display: inline-block;
  text-transform: uppercase;
  max-width: fit-content;
  background: var(--main-letter-bg);
  box-shadow: inset 4px 4px #fffffd9f, inset -4px -4px 1px #3f475e83;
  border: 1px solid #042636;
  color: #042636;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 1000;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;

  &:hover {
    color: #042636;
    box-shadow: inset -1px -1px #fffffd9f, inset 1px 1px 1px #3f475e83;
  }
}

.login,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  box-shadow: inset 2px 2px #fffffd7a, inset -2px -2px #586e6c;
  padding: 0.3rem 0.5rem;
  background-color: #9ad8da;
  border-radius: 2rem;
  color: #042636;
  font-weight: 800;
  height: 40px;
}

.login {
  width: 40px;
  margin-left: 0.5rem;

  & > svg {
    fill: #042636;
  }
}

.profile {
  border-radius: 1rem 1rem 1rem 1rem;

  & > svg {
    width: 15px;
    transform: translateX(-1px);
    margin: 0.5rem;
  }
}

.logo {
  height: 80px;
  transform: translateX(-3rem);
  filter: drop-shadow(2px 2px 2px #00000041);
}
