a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
  
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 60px; /* or whatever height you prefer */
  background: linear-gradient(to left, #8cb9d5, #8ebbd7); /* Sample colors; adjust as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow for depth */
  border-bottom: 2px solid black;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.822);
}
